Consumer/venv/
Server/db-data/
__pycache__/
package-lock.json
package.json
Fete_Jupani_Detectate
Fete_Straine_Detectate
Model_Fete
Face_Recognition/Fete_Jupani_Detectate
Face_Recognition/Fete_Straini_Detectate
Face_Recognition/Model_Fete
Face_Recognition/insightface_models
.env